.container-box {
        background: url("../image/h_img.jpg") fixed center no-repeat;
        background-size: cover;
    /* background-image: 
    background-size: cover;
    background-position: center; */
        color: white;
        text-align: center; 
}
#icon{
    margin-right: 5%;
    margin-top: 10%;
    
}
#icon2{
    margin-top: 10%;
    margin-right: 5%;
  
    
}
